body {
    font-family: 'Cuprum', 'Arial', sans-serif;
    line-height: 24px;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
}

h2 {
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #32425c;
}

h3 {
    font-size: 30px; 
}

.section {
	display: block;
	width: 100%;
	min-width: 940px;
	position: relative;
}

.section-inner {
	width: 940px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section-inner:before, .section-inner:after {
    content: " "; 
    display: table; 
}


.section-inner:after {
    clear: both;
}

/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
*/

.page-header {
    background-color: #f1f5f7;
}

.header-top-section {
    background-color: #32425c;
}

.header-top-section-inner {
    min-height: 42px;
}

/*
.header-top-menu {
    height: 42px;
    float: right;
    margin-right: 0;
    background-color: red;  
}

*/

ul.header-top-list {
    height: 42px;
    padding: 0;
    margin: 0;
   /* float: right; */
    display: flex;
    list-style: none;
}

.header-top-list li a {
    display: block;
    box-sizing: border-box;
    padding-top: 11px;
    margin: 0;
    width: 150px;
    height: 42px;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    box-sizing: border-box;
}

.header-top-list .icon {
    position: absolute;
	top: 12px;
	left: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

input[type=search] {
    background-color: #32425c;
    border: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;
    height: 100%;
    width: 270px;
    box-sizing: border-box;
    padding-left: 48px;
}

#header-search:hover input[type=search] {
    background-color: #212a3a;
}

#header-search:hover .icon {
    opacity: 1;    
}

input[type=search]:focus {
    background-color: #ffffff;
    color: black;
}

input[type=search]:focus #header-search .icon {
    background: url(/img/icon-search-red.png) no-repeat 0 0;
    z-index: 500;
}

.button.header-top-bookmarks, .button.header-top-cart, #header-search {
    position: relative;
}

.button.header-top-bookmarks .icon {
    background: url(/img/icon-bookmark.png) no-repeat 0 0;
}

.button.header-top-cart .icon {
    background: url(/img/icon-basket.png) no-repeat 0 0;
}

#header-search .icon {
    background: url(/img/icon-search.png) no-repeat 0 0;
}

.header-top-list a:hover .icon {
    opacity: 1;    
}

.header-top-list a:hover {
    background-color: #212a3a;
}

.header-top-list a:active .icon {
    opacity: 0.5;    
}

.header-top-list a:active {
    opacity: 0.5;
}

a.button.header-top-checkout:hover {
    background-color: #5fbb2d;
}

a.button.header-top-checkout:active {
    opacity: 0.51;
}

/*Логотип*/

.header-top-logo a {
    width: 220px;
    min-height: 47px;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    z-index: 10;
}

.header-top-list li:first-child a {
    padding: 0;
    width: 220px;
}

.header-top-list li:nth-child(2) #header-search {
    width: 270px;
    height: 100%;
    box-sizing: border-box;
}

.header-top-list li:last-child a {
    background-color: #63a63e;
}

.header-middle-section-inner {
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: #f1f5f7;
}

.header-middle-left {
    float: left;
    width: 300px;
    margin-right: 20px;
    box-sizing: border-box;
    height: 72px;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-align: left;
}

.header-middle-left p {
    padding: 1px 1px 1px 53px;
    margin: 0;
}

.header-middle-center {
    float: left;
    width: 270px;
    height: 72px;
}

.header-middle-box {
    border: 3px solid white;
    height: 45px;
    display: block;
    line-height: 18px;
    vertical-align: middle;
    padding-top: 7px;
    box-sizing: border-box;
    background-image: url(/img/icon-phone.png);
    background-position: 15px 50%;
    background-repeat: no-repeat;
    
}

.header-middle-center p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    vertical-align: middle;
}

.header-middle-box p {
    display: block;
    width: 160px;
    vertical-align: middle;
    font-size: 21px;
    color: #e9292a;
}

.header-middle-right {
    width: 300px;
    float: right;
    height: 72px;
}

.registration-form {
    display: none;
}

.registration-form ul {
    width: 300px;
    height: 72px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    clear: both;
    content: " ";
    display: block;
    list-style: none;
}

.header-middle-right li {
    box-sizing: border-box;
    float: right;
    margin-left: 10px;
    background-color: #ffffff;
    
}

.header-middle-right li a {
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 42px;
    font-size: 21px;
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
    line-height: 42px;
    position: relative;
}

.button.header-registration-button {
    
}

.button.header-login-button {
    position: relative;
    padding-left: 15px;
    width: 121px;
}

a.button.header-login-button .icon {
    position: absolute;
	top: 12px;
	left: 15px;
    width: 20px;
    height: 20px;
    background: url(/img/icon-login.png) no-repeat 0 0;
}

.header-middle-right a:hover {
    color: #ee3643;
}

.header-middle-right a:hover .icon {
    background: url(/img/icon-login-hover.png) no-repeat 0 0;
}

.header-middle-right a:active .icon {
    background: url(/img/icon-login-test.png) no-repeat 0 0;
}

.header-middle-right a:active {
    color: #000000;
    opacity: 0.3;
}

.registration-form-login {
    
    
}

.registration-form-login .login-block {
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
}

.registration-form-login > .login-block a {
    display: block;
    width: 240px;
    height: 100%;
    position: relative;
    vertical-align: middle;
    line-height: 45px;
    font-size: 21px;
    text-align: right;
    padding-right: 10px;
    text-decoration: none;
    color: #000000;
}

.registration-form-login .login-block a.header-logoff-button {
    width: 60px;
}

.registration-form-login .login-block .icon {
    position: absolute;
	top: 13px;
	left: 10px;
    width: 20px;
    height: 20px;
    background: url(/img/icon-user.png) no-repeat 0 0;
}

.login-block a.button.header-logoff-button .icon {
    top: 15px;
    left: 25px;
    background: url(/img/icon-login.png) no-repeat 0 0;
}

.login-block a:hover .icon {
    background: url(/img/icon-user-hover.png) no-repeat 0 0;
}

a.button.header-logoff-button:hover .icon {
    background: url(/img/icon-login-hover.png) no-repeat 0 0;
}

.login-block a:active  {
    opacity: 0.3;
}

a.button.header-logoff-button:active {
    opacity: 0.3;
}

.login-block a:active .icon {
    background: url(/img/icon-user-test.png) no-repeat 0 0;
}

a.button.header-logoff-button:active .icon {
    background: url(/img/icon-login-test.png) no-repeat 0 0;
}

ul.registration-form-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;   
}

ul.registration-form-list li {
    display: inline;
    background-color: #f1f5f7;
    box-sizing: border-box;
    height: 47px;
    margin-left: 13px;
}

ul.registration-form-list li:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

ul.registration-form-list li:last-child {
    margin-left: 0;
}


ul.registration-form-list li a {
    display: inline;
    color: #32425c;
    font-size: 16px;
    text-decoration: underline;
    
}

ul.registration-form-list li span {
    display: block;
    width: 20px;
    height: 47px;
    content: " asd";
    background: url(/img/list-dot.png) no-repeat 50% 45%;
}

.header-bottom-section-inner {
    height: 120px;
    background-color: #f1f5f7;
    padding-bottom: 60px;
}


ul.header-navigation-list {
    height: 55px;
    margin: 20px 0;
    padding: 0;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    
}

.header-navigation-list li {
    display: inline-block;
    box-sizing: border-box;
}

.header-navigation-list li a {
    color: #f1f2f4;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 55px;
    width: 125px;
    font-size: 17px;
}

.header-navigation-list a:hover {
    background-color: #293449;
}

.header-navigation-list a:active {
    background-color: #293449;
}

.header-navigation-list a:active {
    color: #a8abaf;
}

.page-content {
    
}

.breadcrumbs {

    height: 60px;
}

ul.breadcrumbs-list {
    display: flex;
    align-items: flex-start;
    margin: 0px;
}

.breadcrumbs-list li {
    display: block;
}

.breadcrumbs-list a {
    display: block;
    height: 100%;
}

.page-properties-section-inner {
    position: relative;
}

.popup.popup-cart {
    position: absolute;
    top: 90px;
    left: 160px;
    box-sizing: border-box;
    width: 620px;
    height: 282px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    z-index: 600;
    font-size: 30px;
    box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
    
}

a.popup-cart-cross {
    position: absolute; 
    top: 10px;
    right: 10px;
    z-index: 400;
}

.popup-cart-top {
    height: 130px;
    margin-left: 80px;
    margin-top: 33px;
    padding-top: 21px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: left;
}

.popup-cart-top p {
    display: inline-block;
    height: 66px;
    text-align: center;
    margin: 0;
    margin-left: 32px;
}

.popup-cart-bottom {
    background-color: #f1f1f1;
    height: 113px;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
}

.popup-cart-bottom a {
    width: 220px;
    height: 39px;
    box-sizing: border-box;
    display: inline-block;
    margin: 37px 10px;
    text-decoration: none;
    padding-top: 8px;   
}

.button.popup-cart-checkout {
    margin-left: 80px;
    background-color: #ee3643;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 3px;
    
}

.button.popup-cart-catalog {
    background-color: #ffffff;
    color: #000000;
    border-color: #f1f1f1;
    border-radius: 3px;
}

.page-properties-header {
    height: 90px;
    background-color: #f2f6f8;
}

.page-catalog-inner {
    padding: 20px 0;
}

.catalog-left-column {
    width: 220px;
    float: left;
}

.catalog-filter {
    
}

.catalog-filter-top, .catalog-filter-middle, .catalog-filter-bottom {
    padding-bottom: 25px;
}

.catalog-filter-top::after {
    clear: both;
    display: block;
    content: " ";
}

.catalog-filter p {
    background-color: #f7f3ec;
    margin: 0;
    padding: 9px 0;
}

.catalog-filter h3 {
    margin: 16px 0;
}

#range {
    width: 180px;
    margin: 0;
    padding: 0 20px;
}

#range-from {
    width: 95px;
    float: left;
    margin-right: 2px;
}

.catalog-filter-top span {
    float: left;
    width: 18px;
}

#range-to {
    width: 95px;
    float: right;
    margin-left: 2px;
}

.catalog-filter-middle {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.catalog-right-column {
    margin-left: 20px;
    width: 700px;
    float: right;
}

.catalog-items {
    font-size: 0;
    padding-bottom: 20px;
}

.catalog-sort {
    float: right;
    width: 700px;
    font-size: 18px;
}

.catalog-sort span {
    float: left;
}

ul.catalog-sort-items {
    float: right;
    margin: 0;
    margin-left: 90px;
}

.catalog-sort li {
    display: inline-block;
}

.article-item {
    width: 220px;
    height: 320px;
    font-size: 18px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}

span.active-mark {
    display: block;
    position: absolute;
    content: " ";
    left: 80%;
    top: 0px;
    width: 60px;
    height: 60px;
}

.article-item.active .active-mark {
    background-image: url(/img/icon-new-flag.png);
    background-position: top right;
    background-repeat: no-repeat;
    left: 159px;
    top: -1px;
    z-index: 500;
}

.article-item img {
    position: absolute;
    left: 18px;
    z-index: 200;
}

.article-item p {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.article-item .article-item-top {
    display: ;
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: 100;
}

.article-item-top {
    width: 135px;
}

.article-item-top a.button {
    display: block;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
    margin-top: 8px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #32425c;
    border: 3px solid #63a63e;
    padding-top: 6px;
}

.button.inner-cart-button {
    color: #ffffff;
    background-color: #63a63e;  
}

.button.inner-favorites-button:hover {
    border: 3px solid #32425c;
}

.button.inner-favorites-button:active {
    opacity: 0.3;  
}

.article-item-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 0px;
    font-family: 'PTSansRegular', sans-serif;
    font-weight: bold;
}

.article-item-bottom p {
    margin-bottom: 13px;
}

.article-item-bottom span {
    text-decoration: line-through;
    color: #999999;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
    display: block;
    width: 80px;
    height: 20px;
    margin: 10px 69px;
}

.button.add-to-cart-button {
    width: 142px;
    height: 38px;
    background-color: #ee3643;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 0 38px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
}

.article-item:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.article-item:hover img {
    display: none;   
}


.catalog-items .article-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-pagination {
    margin: 12px 0 40px 0;
}

ul.catalog-pagination-list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.catalog-pagination-list li {
    display: block;
    box-sizing: border-box;
    min-width: 38px;
    height: 38px;
    margin-right: 10px;
}

.catalog-pagination-list a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    color: #000000;
    line-height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-family: 'PTSansRegular', sans-serif;
    font-size: 13px;
}

.catalog-pagination-list li:last-child {
    width: 140px;
}

.catalog-pagination-list a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-pagination-list a:active {
    border: 1px solid #ee3643;
}

.catalog-pagination-list .active a {
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 2px;
    border-color: #ffffff;
}

.header-pagination-list a:hover {
    background-color: #293449;
}

.header-pagination-list a:active {
    background-color: #293449;
}

.catalog-info-section {
    background-color: #f2f6f8;
}

.catalog-info-about {
    height: 125px;
    padding: 60px 0 70px 0;
    text-align: left;
}

.catalog-info-about b {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.catalog-info-about p {
    margin-top: 30px;
    margin-bottom: 24px;
    font-family: 'PTSansRegular', sans-serif;
    font-size: 13px;
}

.page-footer {
    background-color: #32425c;
    text-align: left;
    color: #ffffff;
}

.footer-top-section-inner {
    padding-bottom: 47px;
}

.footer-top-contacts {
    float: left;
    width: 380px;
    margin-right: 10px;
}

.footer-adress {
    margin-top: 23px;
}

.footer-adress p {
    margin: 0;
}

.footer-top-navigation {
    float: right;
}

.footer-navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 550px;
}

.footer-navigation a {
    text-decoration: none;
}

ul.footer-navigation-top a {
    color: #f1f5f7;
}

ul.footer-navigation-top li:hover a, ul.footer-navigation-bottom li:hover a {
    text-decoration: underline;
}

ul.footer-navigation-top li:active a {
    opacity: 0.5;
    color: #f1f5f7;   
}

ul.footer-navigation-bottom {
    width: 525px;
    padding-left: 25px;
}

ul.footer-navigation-bottom a {
    color: #ffd180;
}

ul.footer-navigation-bottom li:active a {
    opacity: 0.5;
    color: #ffd180;
}

.footer-bottom-section {
    background-color: #293449;
}

.footer-bottom-section-inner {
    box-sizing: border-box;
    height: 107px;
    padding-top: 35px;
    padding-bottom: 31px;
    line-height: 18px;
    font-size: 16px;
}

.footer-bottom-section-inner p {
    margin: 0;
}

.footer-copyright {
    float: left;
    width: 230px;
    height: 40px;
    margin-right: 150px;
}

.footer-social {
    float: left;
    min-width: 175px;
}

.footer-social a {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    margin-right: 5px;
}

.button.social-vk {
    background: #212a3a url(/img/icon-social.png) no-repeat 10px 10px;
}

.button.social-fb {
    background: #212a3a url(/img/icon-social.png) no-repeat -37px 10px;
}

.button.social-ins {
    background: #212a3a url(/img/icon-social.png) no-repeat -81px 10px;
}

.footer-social a:hover, .footer-social a:active {
    background-color: #ee3643;
}

.footer-htmlacademy {
    float: right;
    height: 40px;
    width: 140px;
    box-sizing: border-box;
    padding-left: 29px;
}

.footer-backform {
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 20px;
}

.footer-htmlacademy a, .footer-backform a {
    color: #ffd180;
    text-decoration: none;
}

.footer-htmlacademy:hover a, .footer-backform:hover a {
    text-decoration: underline;
}

.footer-htmlacademy:active a, .footer-backform:active a {
    color: #ee3643;
    text-decoration: none;
}