body {
    font-family: 'Cuprum', sans-serif;
    line-height: 23px;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.section {
	display: block;
	width: 100%;
	min-width: 940px;
	position: relative;
    background-color: chartreuse;
}

.section-inner {
    background-color: coral;
}

.section-inner {
	width: 940px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section-inner:before, .section-inner:after {
    content: " "; 
    display: table; 
}


.section-inner:after {
    clear: both;
}

/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
*/

.page-header {
    background-color: #f1f5f7;
    padding-bottom: 60px;
}

.header-top-section {
    background-color: #293449;
  
}

.header-top-section-inner {
    min-height: 42px;
    background-color: #32425c;
}

.header-top-logo {
    height: 42px;
    float: left;
    width: 220px;
    margin-right: 10px;
}

.header-top-search {
    min-height: 42px;
    float: left;
    width: 240px;
    margin-right: 10px;
    background-color: azure;
}

.header-top-menu {
    height: 42px;
    float: right;
    margin-right: 0;
    background-color: azure;
    
}

ul.header-top-list {
    height: 42px;
    padding: 0;
    margin: 0;
    float: right;
}

.header-top-list li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 42px;
}

.header-top-list li:last-child {
    background-color: #63a63e;
}

/*
.header-top-button {
    float: right;
    margin-left: 10px;
}
*/

.header-middle-section-inner {
    padding: 45px 0;
    padding-bottom: 40px;
    background-color: #f1f5f7;
}

.header-middle-left {
    float: left;
    width: 300px;
    margin-right: 20px;
    background-color: azure;
    height: 72px;
}

.header-middle-center {
    float: left;
    width: 270px;
    background-color: azure;
    height: 72px;
}

.header-middle-box {
    border: 3px solid white;
    height: 39px;
    display: block;
}

.header-middle-right {
    width: 300px;
    float: right;
    background-color: azure;
    height: 72px;
}

.registration-form {
    display: none;
}

.login-block {
    width: 300px;
    height: 45px;
}

ul.registration-form-list {
    margin: 0;
}

.registration-form-list li {
    display: inline-block;
}

.header-bottom-section-inner {
    height: 60px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.header-navigation {
    margin: 20px 0;
    padding-left: 50px;
}

.header-navigation li {
    display: inline-block;
    padding: 0;    
}

.header-navigation li > a {
    color: #f1f2f4;
}

.page-content {
    background-color: #ffffff;
}

.breadcrumbs {
    background-color: #ffffff;
    height: 60px;
}

.breadcrumbs ul {
    margin: 0px;
}

.breadcrumbs li {
    display: inline-block;
}

.popup-cart {
    display: none;
}

.page-properties-header {
    height: 90px;
    background-color: #f2f6f8;
}

.page-properties-header h2 {
    margin: 0 30px;
    padding-top: 30px;
}

.page-catalog-inner {
    padding: 20px 0;
}

.catalog-left-column {
    width: 220px;
    float: left;
}

.catalog-filter {
    background-color: #ffffff;
}

.catalog-filter-top, .catalog-filter-middle, .catalog-filter-bottom {
    padding-bottom: 25px;
}

.catalog-filter-top::after {
    clear: both;
    display: block;
    content: " ";
}

.catalog-filter p {
    background-color: #f7f3ec;
    margin: 0;
    padding: 9px 0;
}

.catalog-filter h3 {
    margin: 16px 0;
}

#range {
    width: 180px;
    margin: 0;
    padding: 0 20px;
}

#range-from {
    width: 95px;
    float: left;
    margin-right: 2px;
}

.catalog-filter-top span {
    float: left;
    width: 18px;
}

#range-to {
    width: 95px;
    float: right;
    margin-left: 2px;
}

.catalog-filter-middle {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.catalog-right-column {
    margin-left: 20px;
    width: 700px;
    float: right;
}

.catalog-items {
    font-size: 0;
    padding-bottom: 20px;
}

.catalog-sort {
    float: right;
    width: 700px;
    font-size: 18px;
}

.catalog-sort span {
    float: left;
}

ul.catalog-sort-items {
    float: right;
    margin: 0;
    margin-left: 90px;
}

.catalog-sort li {
    display: inline-block;
}

.catalog-items .article-item {
    width: 218px;
    height: 318px;
    font-size: 18px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin: 20px;
    margin-left: 0;
}

.catalog-items .article-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-pagination {
    margin: 12px 0 40px 0;
}

.catalog-pagination li {
    display: inline-block;
}

.catalog-info-about {
    height: 125px;
    padding: 65px 0 70px 0;
    background-color: #f2f6f8;
}


.page-footer {
    
}

.footer-top-section-inner {
    background-color: #32425c;
    padding-bottom: 55px;
}

.footer-top-contacts {
    float: left;
    width: 380px;
    margin-right: 10px;
}

.footer-top-navigation {
    float: right;
}

ul.footer-navigation-top li {
    display: inline-block;
}

ul.footer-navigation-bottom li {
    display: inline-block;
}

.footer-bottom-section-inner {
    background-color: #293449;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-copyright {
    float: left;
    width: 230px;
    margin-right: 150px;
    font-size: 15px;
}

.footer-social {
    float: left;
    width: 160px;
}

.footer-htmlacademy {
    float: right;
    width: 120px;
}

.footer-backform {
    float: right;
    width: 120px;
    margin-left: 10px;
    font-size: 10px;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    
}

h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 30px;
    
}

.slider-item h1 {
    font-weight: bold;
}