body {
    font-family: 'Cuprum', sans-serif;
    line-height: 24px;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

.section {
	display: block;
	width: 100%;
	min-width: 940px;
	position: relative;
}

.section-inner {
    
}

.section-inner {
	width: 940px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section-inner:before, .section-inner:after {
    content: " "; 
    display: table; 
}


.section-inner:after {
    clear: both;
}

/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
*/

.page-header {
    background-color: #f1f5f7;
}

.header-top-section {
    background-color: #32425c;
}

.header-top-section-inner {
    min-height: 42px;
    background-color: #32425c;
}

.header-top-logo {
    height: 42px;
    float: left;
    width: 220px;
    margin-right: 10px;
}

.header-top-search {
    min-height: 42px;
    float: left;
    width: 240px;
    margin-right: 10px;
    background-color: azure;
}

.header-top-menu {
    height: 42px;
    float: right;
    margin-right: 0;
    background-color: azure;
    
}

ul.header-top-list {
    height: 42px;
    padding: 0;
    margin: 0;
    float: right;
}

.header-top-list li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 42px;
}

.header-top-list li:last-child {
    background-color: #63a63e;
}

/*
.header-top-button {
    float: right;
    margin-left: 10px;
}
*/

.header-middle-section-inner {
    padding: 45px 0;
    padding-bottom: 40px;
    background-color: #f1f5f7;
}

.header-middle-left {
    float: left;
    width: 300px;
    margin-right: 20px;
    box-sizing: border-box;
    height: 72px;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    text-align: left;
}

.header-middle-left p {
    padding: 1px 1px 1px 53px;
    margin: 0;
}

.header-middle-center {
    float: left;
    width: 270px;
    height: 72px;
}

.header-middle-box {
    border: 3px solid white;
    height: 39px;
    display: block;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
    vertical-align: middle;
}

.header-middle-center p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.header-middle-right {
    width: 300px;
    float: right;
    background-color: azure;
    height: 72px;
}

.registration-form-login {
    display: none;
}

.header-bottom-section {
    
    
}

.header-bottom-section-inner {
    height: 120px;
    background-color: #f1f5f7;
    padding-bottom: 60px;
}


ul.header-navigation-list {
    height: 55px;
    margin: 20px 0;
    padding: 0;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

ul.header-navigation-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.header-navigation-list li {
  
}

.header-navigation-list li > a {
    color: #f1f2f4;
}

.page-content {
    padding-top: 60px;

}

.promo-section-inner {
    padding-bottom: 55px;
}

.promo-item {
    width: 300px;
    height: 123px;
    background-color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    background-color: #f6b22d;
}

.promo-item:nth-child(2) {
    background-color: #4aafde;
}

.promo-item:nth-child(3) {
    background-color: #cc79d1;
}

.promo-item:nth-child(3n) {
    margin-right: 0;
}

.promo-item:last-child {
    float: right;
}

.promo-item:nth-child(5) {
    float: right;
    margin-right: 0;
    background-color: #85d179;
}



.promo-item-slider {
    width: 620px;
    height: 266px;
    background-image: url(/img/slider-1.jpg);
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
}

.promo-slider-2 {
    display: none;
}

.goods-header {
    background-color: #f7f3ec;
    height: 90px;
}

.goods-header h2 {
    display: block;
    float: left;
    margin-left: 28px;
    margin-bottom: 25px;
}

a.goods-header-button {
    float: right;
    margin-right: 25px;
    height: 40px;
    width: 255px;
    padding-top: 25px;
}

.goods-items {
    padding: 20px 0;
    font-size: 0;
}

.article-item {
    width: 220px;
    height: 320px;
    font-size: 18px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}

.article-item img {
    position: absolute;
    left: 18px;
    z-index: 200;
}

.article-item p {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.article-item .article-item-top {
    display: ;
    position: absolute;
    top: 45px;
    right: 45px;
    z-index: 100; 
}

.article-item-bottom {
    position: absolute;
    bottom: 20px;
    left: 18px;
    width: 160px;
    padding: 0 13px;
}

.article-item-bottom span {
    text-decoration: line-through;
    color: #999999;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
}

.button.add-to-cart-button {
    width: 142px;
    height: 38px;
    background-color: #ee3643;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    margin: 0;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.article-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.article-item:hover img {
    display: none;   
}

.goods-items .article-item:last-child {
    margin-right: 0;
}

.brands-header {
    background-color: #f7f3ec;
    height: 90px;
}

.brands-items {
    padding-top: 20px;
    padding-bottom: 65px;
    font-size: 0;
    background-color: #ffffff;
    
}

.brands-header h2 {
    display: block;
    float: left;
    margin-left: 28px;
    margin-bottom: 25px;
}

a.brands-header-button {
    float: right;
    margin-right: 25px;
    height: 40px;
    width: 255px;
    padding-top: 25px;
}

.brand-item {
    display: inline-block;
    height: 145px;
    width: 220px;
    border: 1px solid #e5e5e5;
    margin: 0 20px 20px 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 22px 7px;
}

.brand-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.brand-item:active {
    opacity: 0.3;
}

.brand-item:nth-child(4n) {
    margin-right: 0;
}

.brand-item > img {
    margin: auto;
}

.services-section-inner {
    padding-top: 65px;
    background-color: #f2f6f8;
}

.services-header {
    width: 400px;
}

.services-header p {
    margin-top: 34px;
}

.services-slider-2, .services-slider-3 {
    display: none;
}

.services-slider-buttons {
    width: 240px;
    margin-right: 80px;
    float: left;
}
.services-slider-buttons ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
}   

.services-slider-buttons li {
    height: 60px;
    background-color: aqua;
}

.services-slider-slides {
    width: 620px;
    float: right;
    margin: 0;
}

.services-slider-slides p {
    width: 300px;
}

.tekhnomart-section-inner {
    padding-top: 75px;
    padding-bottom: 85px;
    position: relative;

}

.popup.write-us {
    position: absolute;
    right: 160px;
    top: -205px; /* right - top: 205px;*/
    box-sizing: border-box;
    width: 620px;
    height: 430px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    z-index: 300;
    line-height: 18px;
    font-size: 18px;
}

.popup.write-us a {
    position: absolute; /*допилить закрытие*/
    top: 10px;
    right: 10px;
    z-index: 400;
}

.write-us-form-top {
    position: relative;
    height: 267px;
    margin: 36px 80px 0 80px;
}

.write-us-form-top:after {
    clear: both;
    content: "";
    display: block; 
}

.write-us-form-block {
    float: left;
    box-sizing: border-box;
    width: 220px;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 19px;
}

.write-us-form-block:nth-child(2) {
    margin-right: 0;
}

.write-us-form-block:last-child {
    text-align: left;
    float: left;
    width: 460px;
    height: 145px;
    margin: 0;
}

#name, #email, #comments {
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-size: 13px;
    color: #999999;
    padding: 10px;
    padding-left: 15px;
    margin-top: 10px;
    width: 220px;
    height: 38px;
}

#comments {
    width: 460px;
    height: 115px;
}

.write-us-form-bottom { /*проверить текст*/
    background-color: #f1f1f1;
    height: 120px;
    box-sizing: border-box;
    line-height: 18px;
    font-size: 14px;
    vertical-align: middle;
    padding: 37px 80px;
}

.button.write-us-button { /*что то недопонимаю */
    width: 460px;
    height: 39px;
    background-color: red;
    border-radius: 2px;
    color: #ffffff;
    background-color: #ee3643;
    display: inline-block;
    
}

.tekhnomart-left-column {
    width: 540px;
    height: 375px;
    float: left;
}

.tekhnomart-left-button {
    display: block;
    width: 220px;
    background-color: #ee3643;
    height: 40px;
}

.tekhnomart-right-column {
    float: right;
    width: 300px;
    height: 370px;
}

.tekhnomart-right-column img {

    height: 159px;
    
}

.tekhnomart-write-us-button {
    display: block;
    width: 300px;
    background-color: #ee3643;
    height: 40px;
}

.page-footer {
    background-color: #32425c;
    text-align: left;
    color: #ffffff;
}

.footer-top-section-inner {
    padding-bottom: 47px;
}

.footer-top-contacts {
    float: left;
    width: 380px;
    margin-right: 10px;
}

.footer-adress {
    margin-top: 23px;
}

.footer-adress p {
    margin: 0;
}

.footer-top-navigation {
    float: right;
}

.footer-navigation ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 550px;
}

.footer-navigation a {
    text-decoration: none;
}

ul.footer-navigation-top a {
    color: #f1f5f7;
}

/* Тут для конкретного li надо сделать или для целого списка? Если для отдельно взятого li, то все переносится на li, особо без изменений */

ul.footer-navigation-top li:hover a, ul.footer-navigation-bottom li:hover a {
    text-decoration: underline;
}

ul.footer-navigation-top li:active a {
    opacity: 0.5;
    color: #f1f5f7;   
}

ul.footer-navigation-bottom {
    width: 525px;
    padding-left: 25px;
}

ul.footer-navigation-bottom a {
    color: #ffd180;
}

ul.footer-navigation-bottom li:active a {
    opacity: 0.5;
    color: #ffd180;
}

.footer-bottom-section {
    background-color: #293449;
}

.footer-bottom-section-inner {
    box-sizing: border-box;
    height: 107px;
    padding-top: 35px;
    padding-bottom: 31px;
    line-height: 18px;
    font-size: 16px;
}

.footer-bottom-section-inner p {
    margin: 0;
}

.footer-copyright {
    float: left;
    width: 230px;
    height: 40px;
    margin-right: 150px;
}

.footer-social {
    float: left;
    height: 40px;
    width: 175px;
}

.footer-htmlacademy a, .footer-backform a {
    color: #ffd180;
    text-decoration: none;
}

.footer-htmlacademy:hover a, .footer-backform:hover a {
    text-decoration: underline;
}

.footer-htmlacademy:active a, .footer-backform:active a {
    color: #ee3643;
    text-decoration: none;
}

.footer-htmlacademy {
    float: right;
    height: 40px;
    width: 140px;
    box-sizing: border-box;
    padding-left: 29px;
}

.footer-backform {
    float: right;
    width: 140px;
    height: 40px;
    margin-right: 20px;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    
}

h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 30px;
    
}

.slider-item h1 {
    font-weight: bold;
}