body {
    font-family: 'Cuprum', sans-serif;
    line-height: 23px;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.section {
	display: block;
	width: 100%;
	min-width: 940px;
	position: relative;
    background-color: chartreuse;
}

.section-inner {
    background-color: coral;
}

.section-inner {
	width: 940px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section-inner:before, .section-inner:after {
    content: " "; 
    display: table; 
}


.section-inner:after {
    clear: both;
}

/*
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
*/

.page-header {
    background-color: #f1f5f7;
    padding-bottom: 60px;
}

.header-top-section {
    background-color: #293449;
  
}

.header-top-section-inner {
    min-height: 42px;
    background-color: #32425c;
}

.header-top-logo {
    height: 42px;
    float: left;
    width: 220px;
    margin-right: 10px;
    background-color: azure;
}

.header-top-search {
    min-height: 42px;
    float: left;
    width: 240px;
    margin-right: 10px;
    background-color: azure;
}

.header-top-menu {
    height: 42px;
    float: right;
    margin-right: 0;
    background-color: azure;
    
}

ul.header-top-list {
    height: 42px;
    padding: 0;
    margin: 0;
    float: right;
}

.header-top-list li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 42px;
}

.header-top-list li:last-child {
    background-color: #63a63e;
}

/*
.header-top-button {
    float: right;
    margin-left: 10px;
}
*/

.header-middle-section-inner {
    padding: 45px 0;
    padding-bottom: 40px;
    background-color: #f1f5f7;
}

.header-middle-left {
    float: left;
    width: 300px;
    margin-right: 20px;
    background-color: azure;
    height: 72px;
}

.header-middle-center {
    float: left;
    width: 270px;
    background-color: azure;
    height: 72px;
}

.header-middle-box {
    border: 3px solid white;
    height: 39px;
    display: block;
}

.header-middle-right {
    width: 300px;
    float: right;
    background-color: azure;
    height: 72px;
}

.registration-form-login {
    display: none;
}

.header-bottom-section-inner {
    height: 60px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.header-navigation {
    margin: 20px 0;
    padding-left: 50px;
}

.header-navigation li {
    display: inline-block;
    padding: 0;    
}

.header-navigation li > a {
    color: #f1f2f4;
}

.page-content {
    padding-top: 60px;
    background-color: #ffffff;
}

.promo-section-inner {
   background-color: #ffffff; 
    padding-bottom: 55px;
}

.promo-item {
    width: 300px;
    height: 123px;
    background-color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

.promo-item:nth-child(3n) {
    margin-right: 0;
}

.promo-item:last-child {
    float: right;
}

.promo-item:nth-child(5) {
    float: right;
    margin-right: 0;
}

.promo-item-slider {
    width: 620px;
    height: 266px;
    background-image: url(/img/slider-1.jpg);
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
}

.promo-slider-2 {
    display: none;
}

.goods-header {
    background-color: #f7f3ec;
    height: 90px;
}

.goods-header h2 {
    display: block;
    float: left;
    margin-left: 28px;
    margin-bottom: 25px;
}

a.goods-header-button {
    float: right;
    margin-right: 25px;
    height: 40px;
    width: 255px;
    padding-top: 25px;
}

.goods-items {
    padding: 20px 0;
    font-size: 0;
}

.goods-items .article-item {
    width: 218px;
    height: 318px;
    font-size: 18px;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
}

.goods-items .article-item:last-child {
    margin-right: 0;
}

.brands-header {
    background-color: #f7f3ec;
    height: 90px;
}

.brands-items {
    padding-top: 20px;
    padding-bottom: 65px;
    font-size: 0;
    background-color: #ffffff;
}

.brands-header h2 {
    display: block;
    float: left;
    margin-left: 28px;
    margin-bottom: 25px;
}

a.brands-header-button {
    float: right;
    margin-right: 25px;
    height: 40px;
    width: 255px;
    padding-top: 25px;
}

.brand-item {
    display: inline-block;
    height: 96px;
    border: 1px solid #e5e5e5;
    margin: 0 20px 20px 0;
    width: 204px;
    background-color: #ffffff;
    padding: 23px 7px;
}

.brand-item:nth-child(4n) {
    margin-right: 0;
}

.brand-item > img {
    
}

.write-us {
    display: none;
}

.services-section-inner {
    padding-top: 65px;
}

.services-header {
    width: 400px;
}

.services-header p {
    margin-top: 34px;
}

.services-slider-2, .services-slider-3 {
    display: none;
}

.services-slider-buttons {
    width: 240px;
    margin-right: 80px;
    float: left;
}

.services-slider-buttons ul {
    padding-left: 0;
    margin: 0;
}

.services-slider-buttons li {
    width: 240px;
    height: 60px;
    background-color: aqua;
}

.services-slider-slides {
    width: 620px;
    float: right;
    margin: 0;
}

.services-slider-slides p {
    width: 300px;
}

.tekhnomart-section-inner {
    padding-top: 75px;
    padding-bottom: 85px;
}

.tekhnomart-left-column {
    width: 540px;
    height: 375px;
    float: left;
}

.tekhnomart-left-button {
    display: block;
    width: 220px;
    background-color: #ee3643;
    height: 40px;
}

.tekhnomart-right-column {
    float: right;
    width: 300px;
    height: 370px;
}

.tekhnomart-right-column img {

    height: 159px;
    
}

.tekhnomart-write-us-button {
    display: block;
    width: 300px;
    background-color: #ee3643;
    height: 40px;
}


h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    
}

h2 {
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 30px;
    
}

.slider-item h1 {
    font-weight: bold;
}